div(class='scroll')
  div(class='social-home')  
    a(
      class='link animate-reveal animate-third' 
      target='_blank' 
      href='https://www.linkedin.com/in/brendan-hegarty-a91186104/'
      )
      i(class='fab fa-linkedin-in fa-2x')
    a(
      class='face animate-reveal animate-fourth' 
      target='_blank' 
      href='https://www.facebook.com/brendan.hegarty.14'
      )
      i(class='fab fa-facebook-f fa-2x')
    a(
      class='insta animate-reveal animate-fifth' 
      target='_blank' 
      href='https://www.instagram.com/b_hegs1/?hl=en'
      )
      i(class='fab fa-instagram fa-2x')
    a(
      class='git animate-reveal animate-sixth' 
      target='_blank' 
      href='https://github.com/bthegarty'
      )
      i(class='fab fa-github fa-2x')
  a(
    class='scroll-icon' 
    href='#about'
    ) Scroll
      span
//- end animated icons  
