div(class='container')  
  div(class='tabSection')
    -var tabID = [0]
    div(class='tabs')
      button(class='button js-tabButton' data-cat-id=tabID++) Test
      button(class='button js-tabButton' data-cat-id=tabID++) Test
      button(class='button js-tabButton' data-cat-id=tabID++) Test
      
    div(class='tabContent-container' id='js-tab-container')  
      div(class='divider')
      -var tabID = [0]
      div(class='tabContent active' data-cat-id=tabID++ id='test1')
        //- div 
          //- image 
        div(class='tab-header') teseter
        div la la la la la. la la la la la
          //- text
      
      div(class='tabContent' data-cat-id=tabID++ id='test2')
        div(class='tab-header') teseter 2
        div tests tests tests tests
        
      div(class='tabContent' data-cat-id=tabID++ id='test3')
        div(class='tab-header') teseter 3
        div and im hayden christianson
