html(lang='en')
  head
    include ./includes/header.pug
    
  body
    div(
      id='pt-main'
      class='pt-perspective'
      )
      div(
        id='welcome'
        class='container pt-page pt-page-1'
        )
        div(class='welcome-text')
          h1(class='heading') Brendan Hegarty
            div(class='subheading') Web Developer
          button(class='button') Enter
        include ./includes/svg.pug
        //- include ./includes/social-scroll-animation.pug
      div(
        id='toggle-id'
        class='pt-page pt-page-2'
        )
        div here's some more stuff
    include ./includes/footer.pug    
