html(lang='en')
  head
    include ./includes/header.pug
    
  body
    div(
      id='pt-main'
      class='pt-perspective'
      )
      div(
        id='js-pt-page'
        class='container pt-page'
        )
        div(class='page-inner pt-page-1')
          h1(class='heading') Brendan Hegarty
            div(class='subheading') Web Developer
          //- consider moving this with position absolute orrrrr use css bs
          
        include ./includes/svg.pug
        //- page 2 like structured collections
        //- logo.jpeg
        div(class='page-inner pt-page-2')
          h1(class='heading') About Me
          div(class='job-tile-wrapper')
            include ./includes/job-tile.pug
        
        div(class='page-inner pt-page-3')
        button(
          class='button' 
          id='js-enter'
          )
          div(class='enter') Enter
          div(class='back') Back  
        
    include ./includes/footer.pug
