html(lang='en')
  head
    include ./includes/header.pug
    
  body
    include ./includes/nav.pug
    div(
      id='pt-main'
      class='pt-perspective'
      )
      div(
        id='welcome' 
        class='container pt-page pt-page-1'
        )
        h1(class='intro animate-reveal animate-first') Brendan Hegarty
          div(class='animate-reveal animate-second') Web Developer      
        //- include ./includes/social-scroll-animation.pug
      div(
        id='toggle-id'
        class='pt-page pt-page 2'
        )
        div here's some more stuff  
    include ./includes/footer.pug
